.container {
  border-radius: 5px;
  background-color: #f7c3c3;
  padding: 20px;
  width: 300px;
  top: 40px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

label {
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

h1 {
  text-align: center;
}

button {
  background-color: #04AA6D;
  color: white;
  /* width: 100%; */
  /* padding: 12px 20px; */
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: medium;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box; */
  margin-top: 6px;
  margin-bottom: 16px;
  /* resize: vertical; */
}


